* {
  box-sizing: border-box;
  margin: 0;
}

/* .movie-container {
  display: flex;
  flex-wrap: wrap;
}

.movie-wrapper {
  display: flex;
  gap: 1rem;
  width: 650px;
  margin: 1rem;
  background-color: #7a7a73;
}

.movie-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
}

.title-wrapper {
  display: flex;
  gap: 1rem;
} */

/* .container {
  display: flex;
  align-items: center;
}

form {
  display: flex;
  gap: 1rem;
  margin: 1.5rem;
}

input {
  width: 50px;
}

.total-field {
  width: 50px;
  height: 21.2px;
  border: 1px solid black;
  border-radius: 2px;
  padding-left: 0.2rem;
} */

main {
  display: flex;
  gap: 0.5rem;
}

.wrapper {
  border: 1px solid black;
  width: 300px;
}

span {
  padding: 1rem;
}
